.row
  %div.small-12.large-6.small-centered.columns
    %h2= 'Welcome to Darkside Taco'
= form_tag '/order', :name => 'taco-form', :id => 'taco-form', :method => 'POST' do
  - for product in @products
    .row
      %div.small-12.large-4.columns
        %h3= product.name
      %div.small-12.large-4.columns
        %p= product.description
        %p
          %strong= "$#{Money.new product.skus.data.first.price, product.skus.data.first.currency}"
      %div.small-12.large-4.columns
        - if settings.lift_gate
          - if product.skus.data.first.inventory.quantity > 0
            = select_tag product.id, :options => ('0'..'5').to_a, :selected => '0'
          - else
            %p SOLD OUT
  .row
    %div.small-3.small-centered.columns
      - if settings.lift_gate
          = submit_tag  "Order Tacos", :class => "button radius"
      - else
        %p Open Most Fridays and Saturdays 9pm to 2:30am
