%h1= 'Welcome to Darkside Taco'

= form_tag '/order', :name => 'taco-form', :id => 'taco-form', :method => 'POST' do
  - for product in @products
    .order-item
      %dt
        %h3= product.name
        %p= product.description
        %p= "$#{Money.new product.skus.data.first.price, product.skus.data.first.currency}"
        = number_field_tag product.id, :type => 'number', :min => 0, :max => 10
  = submit_tag  "Order Tacos"