!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = csrf_meta_tags
    %title= content_for?(:title) ? yield(:title) : "Darkside Taco"
    = stylesheet_link_tag :application
    = javascript_include_tag 'jquery', 'application'
    = javascript_include_tag 'foundation/foundation.js'
    = javascript_include_tag 'foundation/foundation.slider.js'
  %body
    %section.hero
      %div.row.intro
        %div.small-centered.medium-uncentered.medium-6.large-7.columns
          %h1 Darkside Taco
          %p Late-nite Underground Taco Delivery in Logan Square
          %p
            %i.fi-arrow-down.big-arrow
        %div.small-centered.medium-uncentered.medium-6.large-5.columns
    #main
      = yield
    = partial 'partials/footer'
    %script $(document).foundation();  
    
